<ul class="nav">
    <li ng-repeat="category in $ctrl.categories" ng-class="category.name === $ctrl.selectedCategory ? 'active': ''">
        <a ng-href="#!/note/{{ category.name }}" data-toggle="tab">{{ category.name }}</a>
    </li>
    <li><a ng-href="#!/pages/tags" data-toggle="tab">{{ $ctrl.config.locals.tags }}</a></li>
    <li><a ng-href="#!/pages/archive">{{ $ctrl.config.locals.archive }}</a></li>
    <li><a ng-href="#!/pages/about">{{ $ctrl.config.locals.about }}</a></li>
</ul>

<div class="aside1-bottom">
    <a ng-href="http://blog.jimmylv.info/pages/atom.xml" target="_blank">
        <i class="fa fa-rss fa-2x" style="color:#000;"></i>
    </a>
    <a ng-href="mailto:{{ $ctrl.config.author.email }}">
        <i class="fa fa-envelope-o fa-2x" style="color:#000;"></i>
    </a>
</div>