<header id="header">
    <div class="logo">
        <a ng-href="#!/note" target="_blank" title="立青作品">
            <img ng-src="assets/images/avatar.jpg"/>
        </a>
    </div>
    <div class="menu m-hide">
        <a ng-href="#!/hello">Hello</a>
        <a ng-href="#!/zuimeia">Apps</a>
        <a ng-href="#!/note" class="active">Blog</a>
        <a ng-href="#!/photos">Photos</a>
        <a ng-href="#!/pages/zhihu">Zhihu</a>
        <a ng-href="#!/dashboard">Dashboard</a>
        <a ng-href="#!/users">Users</a>
        <a href="https://github.com/JimmyLv/nobackend.website" target="_blank">GitHub</a>
    </div>

    <player class="link"></player>

    <div class="tool-bar">
        <input autocomplete="off" class="default-search m-hide" ng-model="$ctrl.searchText" name="keyword"
               placeholder="Search..." type="text">
        <span class="cancel-search m-hide" ng-click="$ctrl.clearSearch()"><i class="fa fa-times"></i></span>
        <a class="random-post" ng-click="$ctrl.randomPost()" analytics-on analytics-event="RandomPost" analytics-category="Commands">随机文章</a>
    </div>
</header>

<div class="yue search-results fx-fade-normal fx-dur-800 fx-ease-none" ng-if="$ctrl.searchText">
    <table>
        <tr>
            <th>Category</th>
            <th>Post</th>
            <th>Tags</th>
            <th>搜索「<span id="search-text" ng-click="$ctrl.clearSearch()">{{$ctrl.searchText}}</span>」共计{{($ctrl.posts |
                filter:$ctrl.searchText).length}}个结果:
            </th>
        </tr>
        <tr ng-repeat="post in $ctrl.posts | filter:$ctrl.searchText">
            <td>{{post.category}}</td>
            <td>{{post.url}}</td>
            <td>{{post.tags}}</td>
            <td><a ng-href="#!/note/{{post.category}}{{post.url}}">{{post.title}}</a></td>
        </tr>
    </table>
</div>