<header id="header">
    <div class="logo">
        <a ng-href="#!/note" target="_blank" title="立青作品">
            <img ng-src="./assets/images/avatar.jpg"/>
        </a>
    </div>
    <div class="menu">
        <a ng-href="#!/hello" class="m-hide">Hello</a>
        <a ng-href="#!/zuimeia" class="m-hide">Apps</a>
        <a ng-href="#!/note" class="m-hide active">Blog</a>
        <a ng-href="#!/photos" class="m-hide">Photos</a>
        <a ng-link="dashboard" class="m-hide">Dashboard</a>
        <a ui-sref="users2" class="m-hide">Users</a>
        <a href="https://github.com/JimmyLv/nobackend.website" target="_blank">GitHub</a>
    </div>

    <div class="music-player m-player">
        <a ng-href="http://music.163.com/#/search/m/?s={{ $ctrl.selectedMusic.name }} - {{ $ctrl.selectedMusic.artists }}"
           target="_blank">
            <i class="fa fa-lg fa-music" ng-class="{'faa-float animated': !$ctrl.audio.paused}"></i>
        </a>
        <a ng-click="$ctrl.audio.paused ? $ctrl.audio.play() : $ctrl.audio.pause()">
            <i class="fa {{$ctrl.audio.paused ? 'fa-play' : 'fa-pause'}}"></i>
        </a>
        <a ng-click="$ctrl.shuffle()">
            <i class="fa fa-random"></i>
        </a>
        <a ng-click="$ctrl.audio.muting = !$ctrl.audio.muting">
            <i class="fa {{$ctrl.audio.muting ? 'fa-volume-up' : 'fa-volume-off' }}"></i>
        </a>
        <a>{{ $ctrl.audio.remaining | trackTime }}</a>
    </div>

    <div class="tool-bar">
        <input autocomplete="off" class="default-search m-hide" ng-model="$ctrl.searchText" name="keyword"
               placeholder="Search..." type="text">
        <span class="cancel-search m-hide" ng-click="$ctrl.clearSearch()"><i class="fa fa-times"></i></span>
        <a class="random-post" ng-click="$ctrl.randomPost()" analytics-on analytics-event="RandomPost" analytics-category="Commands">随机文章</a>
    </div>
</header>

<div class="yue search-results fx-fade-normal fx-dur-800 fx-ease-none" ng-if="$ctrl.searchText">
    <table>
        <tr>
            <th>Category</th>
            <th>Post</th>
            <th>Tags</th>
            <th>搜索「<span id="search-text" ng-click="$ctrl.clearSearch()">{{$ctrl.searchText}}</span>」共计{{($ctrl.posts |
                filter:$ctrl.searchText).length}}个结果:
            </th>
        </tr>
        <tr ng-repeat="post in $ctrl.posts | filter:$ctrl.searchText">
            <td>{{post.category}}</td>
            <td>{{post.url}}</td>
            <td>{{post.tags}}</td>
            <td><a ng-href="#!/note/{{post.category}}{{post.url}}">{{post.title}}</a></td>
        </tr>
    </table>
</div>