<header id="header">
    <div class="logo">
        <a href="http://blog.jimmylv.info" target="_blank" title="立青作品">
            <img ng-src="./assets/images/avatar.jpg"/>
        </a>
    </div>
    <div class="menu">
        <a ng-href="#!/hello" class="link no-mobile">HELLO</a>
        <a ng-href="#!/zuimeia" class="link no-mobile">APPS</a>
        <a ng-href="#!/note" class="link active">BLOG</a>
        <a ng-href="#!/photos" class="link no-mobile">PHOTOS</a>
        <a ng-link="dashboard" class="link no-mobile">DASHBOARD</a>
        <a ui-sref="users2" class="link no-mobile">USERS</a>
        <a href="https://github.com/JimmyLv/nobackend.website" class="link" target="_blank">GITHUB</a>
    </div>
    <div class="tool-bar">
        <input autocomplete="off" class="default-search no-mobile" ng-model="$ctrl.searchText" name="keyword"
               placeholder="Search..." type="text">
        <span class="cancel-search no-mobile" ng-click="$ctrl.clearSearch()"><i class="fa fa-times"></i></span>
        <span class="random-post" ng-click="$ctrl.randomPost()" analytics-on analytics-event="RandomPost" analytics-category="Commands">随机文章</span>
    </div>
</header>

<div class="yue search-results fx-fade-normal fx-dur-800 fx-ease-none" ng-if="$ctrl.searchText">
    <table>
        <tr>
            <th>Category</th>
            <th>Post</th>
            <th>Tags</th>
            <th>搜索「<span id="search-text" ng-click="$ctrl.clearSearch()">{{$ctrl.searchText}}</span>」共计{{($ctrl.posts | filter:$ctrl.searchText).length}}个结果:</th>
        </tr>
        <tr ng-repeat="post in $ctrl.posts | filter:$ctrl.searchText">
            <td>{{post.category}}</td>
            <td>{{post.url}}</td>
            <td>{{post.tags}}</td>
            <td><a ng-href="#!/note/{{post.category}}{{post.url}}">{{post.title}}</a></td>
        </tr>
    </table>
</div>