<div id="loading-bar-container" class="col-md-8 col-lg-8 col-sm-12 col-xs-12 aside3 fx-dur-800 fx-ease-sine"
     ng-class="{'fx-bounce-left': !$ctrl.showNav, 'center-fixed': !$ctrl.showNav}">

    <home ng-if="$ctrl.isIndex"
          newest-posts="$ctrl.newestPosts"
          tags-with-posts="$ctrl.tagsWithPosts">
    </home>

    <post ng-if="!$ctrl.isIndex"
          front-matter="$ctrl.article.matter"
          post-content="$ctrl.article.content"
          show-toc="$ctrl.showToc">
    </post>

    <div id="disqus_thread"></div>

    <dir-disqus config="$ctrl.disqusConfig"></dir-disqus>
</div>
