<div class="yue fx-dur-800 fx-ease-none" ng-class="{'fx-fade-normal': $ctrl.showContent}">
    <div class="col-md-12 aside3-title">
        <h1 id="#identifier">{{ $ctrl.matter.title }}</h1>
        <div class="aside3-matter">
            <span class="words">{{ $ctrl.content.length }} words</span>
            <a class="content-edit" rel="nofollow" ng-href="{{ $ctrl.editUrl }}" target="_blank">{{ $ctrl.filename }}</a>
        </div>
        <music-box ng-if="$ctrl.matter.music" class="aside3-music" music-id="$ctrl.matter.music">{{ $ctrl.matter }}</music-box>
    </div>

    <div table-of-contents class="col-md-12 aside3-content">
        <!-- 正文 -->
        <div ng-hide="$ctrl.matter.layout === 'session'" id="content-page" ng-class="{photo: $ctrl.matter.layout === 'photo'}" marked="$ctrl.content"></div>
        <books ng-if="$ctrl.matter.layout === 'book'" books="$ctrl.matter.books"></books>
        <iframe ng-if="$ctrl.matter.layout === 'session'" class="aside3-slide" id="preview" ng-src="{{ $ctrl.slideUrl }}"
                frameborder="0" width="100%" height="100%"></iframe>

        <!-- 目录 -->
        <div id="toc" class="panel panel-success m-hide fx-rotate-down-right fx-dur-500 fx-ease-none" ng-show="$ctrl.showToc">
            <div class="panel-body" id="nav">
                <a class="toc-title" ng-repeat="headline in toc.headlines"
                   ng-class="{level2: headline.level == 2, level3: headline.level == 3, level4: headline.level == 4}"
                   ng-click="toc.scrollTo(headline)">{{ headline.label }}</a>
            </div>
        </div>

        <!-- 标签 -->
        <div class="aside3-tags">
            <a ng-repeat="tag in $ctrl.matter.tags" class="tag" ng-href="#!/pages/tags#{{ tag }}">{{ tag }}</a>
        </div>

        <!-- 分享 -->
        <div class="aside3-share">
            <a ng-repeat="share in $ctrl.socialShare" socialshare
               socialshare-provider="{{ share.name }}"
               socialshare-text="{{ $ctrl.matter.title }} | {{ $ctrl.subtitle }}"
               socialshare-url="{{ $ctrl.shareLink }}"
               socialshare-hashtags="{{ $ctrl.hashTags }}">
                <i class="fa {{ share.icon }} faa-shake animated"></i>
            </a>
            <a ng-href="http://service.weibo.com/share/share.php?url={{ $ctrl.encodedShareLink }}&amp;title={{ $ctrl.encodedShareContent }}" target="_blank">
                <i class="fa fa-weibo faa-shake animated"></i>
            </a>
            <a class="weixin-qr">
                <i class="fa fa-weixin faa-shake animated"></i>
                <qr text="$ctrl.shareLink"></qr>
            </a>
        </div>
        <hr>
    </div>
</div>