<div id="container">
    <div class="row yue">
        <div class="col-md-12 aside3-title">
            <h1 id="#identifier">{{ $ctrl.meta.title }}</h1>
            <div class="aside3-date">编辑:<a ng-href="{{ $ctrl.editUrl }}" target="_blank" class="content-edit">{{ $ctrl.pageContent.path }}</a>
            </div>
        </div>

        <table-of-contents toc-html="$ctrl.html">
            <!-- 正文 -->
            <div class="col-md-12 aside3-content">
                <div id="page-content" ng-class="{photo: $ctrl.meta.layout === 'photo'}" marked="$ctrl.content"></div>
                <book-list ng-if="$ctrl.meta.layout === 'book'" books="$ctrl.meta.books"></book-list>
                <hr>
                <dir-disqus config="$ctrl.disqusConfig"></dir-disqus>
            </div>
            <!-- 目录 -->
            <div id="content-table" class="panel panel-success no-mobile" ng-show="$ctrl.showToc">
                <div class="panel-body" id="nav">
                    <a class="toc-title" ng-repeat="headline in headlines"
                       ng-class="{level2: headline.level == 2, level3: headline.level == 3, level4: headline.level == 4}"
                       ng-click="scrollTo(headline)">{{ headline.label }}</a>
                </div>
            </div>
        </table-of-contents>
    </div>
</div>