body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #EAEDEF;
}

#container {
  padding-top: 60px;
  width: 100%;
  height: 100%;

  .row {
    height: 100%;
  }

  .app-list {
    overflow-y: auto;
  }
}

.offset-fixed {
  margin-top: 60px;
}

/* 导航栏 + 目录栏 */
.aside {
  height: 100%;

  .navside {
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
    font-weight: 300;
    height: 100%;

    /* 左侧导航栏 */
    .aside1 {
      background-color: #fff;
      height: 100%;
      padding-top: 20px;
      padding-left: 0;
      padding-right: 0;
      text-align: center;

      & > .nav > li > a {
        border-radius: 0;
        color: #000;
        font-size: 15px;
        padding: 10px;

        &:hover {
          background-color: #EAEDEF;
        }
      }

      .nav > li.active > a, .nav > li.active > a:hover, .nav > li.active > a:focus {
        color: #fff;
        background-color: #000;
      }

      .aside1-bottom {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 3px solid #EAEDEF;
        padding-top: 7px;

        a {
          margin: 5px;
          text-decoration: none;
        }
      }
    }

    /* 中部目录栏 */
    .aside2 {
      background-color: #fff;
      height: 100%;
      width: 70%;
      margin-left: 10px;
      overflow-y: auto;
      padding-top: 20px;

      .navside2 {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }
}

/* 右侧内容栏 */
.aside3 {
  height: 100%;
  font-weight: 300;
  overflow-y: auto;
  background-color: #fff;

  .panel-heading a {
    color: #777;
    margin-right: 10px;
    font-weight: 700;
  }

  .aside3-title {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: #747778;
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
  }

  .aside3-date {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  .aside3-meta {
    position: relative;
    display: block;
    font-size: 14px;
    font-family: Optima, "Helvetica Neue", sans-serif;
    padding-bottom: 1em;

    .words::after {
      content: " in ";
    }

    a.content-edit {
      color: #999;
      text-decoration: none;
    }
  }

  .aside3-tags {
    margin-bottom: 20px;

    .tag {
      margin-right: 6px;
      font-size: 13px;
      text-decoration: none;

      &:before {
        content: '#';
        color: #999;
      }
    }
  }

  .aside3-share {
    margin: 0.5em 0;
    padding-top: .7em;
    padding-bottom: .6em;
    font-size: 28px;
    text-align: center;
    background: #fcfcfc;

    a {
      cursor: pointer;
      text-decoration: none;

      i {
        margin: 0 10px;
        font-style: normal;
        color: #BCC1C4;
        transition: color .15s linear;
        outline: none;

        &:hover {
          color: #309E85;
        }
      }

      &.weixin-qr > qr {
        display: none;
      }

      &.weixin-qr:hover > qr {
        margin-top: 20px;
        display: block;
      }
    }
  }
}

/* 其他配置 */
.center {
  text-align: center;
}

.nest-page {
  height: 100%;
  padding: 0;
}

.center-fixed {
  margin-left: 1%;
}

.toggle-btn {

  #nav-btn {
    position: fixed;
    right: 15px;
    top: 70px;
  }

  #toc-btn {
    position: fixed;
    width: 42px;
    right: 15px;
    top: 113px;
  }

  .btn {
    &:focus, &:hover {
      color: #fff;
      background-color: #000;
      border-color: #fff;
    }
  }
}

@media screen and (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}