<div class="music-player m-player">
    <a ng-href="http://music.163.com/#/search/m/?s={{ $ctrl.selectedMusicName }}"
       target="_blank">
        <i class="fa fa-lg fa-music" ng-class="{'faa-float animated': !$ctrl.audio.paused}"></i>
    </a>
    <a ng-click="$ctrl.audio.paused ? $ctrl.audio.play() : $ctrl.audio.pause()">
        <i class="fa {{$ctrl.audio.paused ? 'fa-play' : 'fa-pause'}}"></i>
    </a>
    <a ng-click="$ctrl.shuffle()">
        <i class="fa fa-random"></i>
    </a>
    <a ng-click="$ctrl.audio.muting = !$ctrl.audio.muting">
        <i class="fa {{$ctrl.audio.muting ? 'fa-volume-up' : 'fa-volume-off' }}"></i>
    </a>
    <a ng-click="$ctrl.showName = !$ctrl.showName">{{ $ctrl.audio.remaining | trackTime }}
        <span ng-show="$ctrl.showName" class="music-name m-hide fx-fade-normal fx-dur-600 fx-ease-none">
            {{ $ctrl.selectedMusicName | limitTo:20 }}
        </span>
    </a>
</div>