<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 aside visible-md visible-lg">
    <div class="row navside">
        <aside1 selected-category="$ctrl.selectedCategory" categories="$ctrl.index.categories"
                site-config="$ctrl.siteConfig"></aside1>
        <div class="col-md-9 col-xs-9 aside2">
            <div class="row navside2">
                <div class="tab-content">
                    <aside2 selected-category="$ctrl.selectedCategory" posts="$ctrl.selectedPosts">
                    </aside2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 aside3">
    <aside3 newest="$ctrl.siteConfig.locals.newest" tags-with-posts="$ctrl.selectedTagsWithPosts">
        <posts-with-date posts="$ctrl.index.paginator"></posts-with-date>
    </aside3>
</div>