<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 aside"
     ng-class="{ 'hidden-md': !$ctrl.showNav, 'visible-md': $ctrl.showNav,
     'hidden-lg': !$ctrl.showNav, 'visible-lg': $ctrl.showNav }">
    <div class="row navside">
        <aside1 selected-category="$ctrl.selectedCategory" categories="$ctrl.index.categories"
                site-config="$ctrl.config"></aside1>
        <div class="col-md-9 col-xs-9 aside2">
            <div class="row navside2">
                <div class="tab-content">
                    <aside2 selected-category="$ctrl.selectedCategory" posts="$ctrl.selectedPosts">
                    </aside2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 aside3" ng-class="{'content-center': !$ctrl.showNav}">
    <content ng-if="!$ctrl.isIndex" page-content="$ctrl.postContent" show-toc="$ctrl.showToc"></content>

    <aside3 ng-if="$ctrl.isIndex"
            newest="$ctrl.config.locals.newest"
            tags-with-posts="$ctrl.selectedTagsWithPosts"
            selected-category="$ctrl.selectedCategory"
            newest-paginator="$ctrl.index.paginator">
    </aside3>

    <dir-disqus config="$ctrl.disqusConfig"></dir-disqus>
</div>

<button id="nav-btn" class="btn btn-primary" ng-click="$ctrl.toggleNav()">
    <i class="fa fa-lg fa-navicon"></i>
</button>

<button id="content-btn" class="btn btn-primary" ng-click="$ctrl.toggleTOC()">
    <i class="fa fa-lg fa-plus"></i>
</button>